body {
  background-image: linear-gradient();
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  height: 100vh;
}

.title-web{
font-size: 75px;
text-shadow: white;
}

.button-design{
border-radius: 30px;
text-decoration: none;
border-color: black;
margin-top: 4px;
margin-left: 4px;
font-size: small;
color: white;
}

.button-design:hover {
background: black;
transition-duration: 500ms;
text-emphasis-color: #000000;
text-decoration: white;
}

.button-design:not(:hover){
  transition-duration: 500ms;
}

.lien{
text-decoration: none;
color: black;
}

.box{
width: 300px;
padding: 40px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
background: #191919;
text-align: center;
border-radius: 30px;
}

.box h1{
color: white;
text-transform: uppercase;
font-weight: 500;
}

.box input[type="text"], .box input[type="password"]{
border: 0;
background: none;
display: block;
margin: 20px auto;
text-align: center;
border: 2px solid #3498db;
padding: 14px 10px;
width: 200px;
outline: none;
color: white;
border-radius: 24px;
transition: 0.25s;

}

.box input[type="text"]:focus, .box input[type="password"]:focus{
width: 300;
border-color: white;

}

.box input[type="submit"]{
border: 0;
background: none;
display: block;
margin: 20px auto;
text-align: center;
border: 2px solid #2ecc71;
padding: 14px 10px;
width: 100px;
outline: none;
color: white;
border-radius: 24px;
transition: 0.24s;
cursor: pointer;
}

.box input[type="submit"]:hover{
background: #2ecc71;
}

.title-connexion{
font-size: 100px;
}

.image-1{
  height: 35%;
  position: absolute;
  font-size: center;
  transform: rotate(90deg);
  margin-left: 10%;
}